.layout {
  width: 100%;
  height: 100vh;
  padding: 4em 15em;
  background-image: url('../../../public/image/login-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
